[submodule "funcunit"]
	path = funcunit
	url = https://github.com/jupiterjs/funcunit
[submodule "documentjs"]
	path = documentjs
	url = https://github.com/jupiterjs/documentjs
[submodule "steal"]
	path = steal
	url = https://github.com/jupiterjs/steal.git
[submodule "canui"]
	path = canui
	url = git@github.com:jupiterjs/canui.git
[submodule "can"]
	path = can
	url = git@github.com:jupiterjs/canjs.git
[submodule "jquery"]
	path = jquery
	url = git@github.com:jupiterjs/jquerypp.git
