[submodule "jquery"]
	path = jquery
	url = git@github.com:jupiterjs/jquerymx
[submodule "funcunit"]
	path = funcunit
	url = git@github.com:jupiterjs/funcunit
[submodule "documentjs"]
	path = documentjs
	url = git@github.com:jupiterjs/documentjs
[submodule "steal"]
	path = steal
	url = git@github.com:jupiterjs/steal.git
[submodule "mxui"]
	path = mxui
	url = git@github.com:jupiterjs/mxui.git
