body {font-family: verdana}
td {padding: 3px;}

.lists > div {
	float:left;
	border:1px solid blue;
	margin-bottom:10px;
}

.jupiter_list .container{
	height:150px;
	overflow:auto;
}

.lists ul li {
	list-style-type:none;
}

.lists ul {
	padding-left:0px;
}

.wrapper{
	height:300px;
}
