/* General Styling */
body {font-family: verdana}
td {padding: 3px;}

/*  Lists Styling */
.lists > div {
	float:left;
	width:33%;
}
.lists > div .container{
	overflow:auto;
}
.lists ul li {
	list-style-type:none;
	cursor:pointer;
	padding:2px 5px;
}
.lists ul {
	padding-left:0px;
	margin:0;
	height:200px;
}
h3{
	text-align:center;
}
#contacts{
	clear:both;
	bottom: 10px;
    position: fixed;
    top: 250px;
}
#company
{
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
 	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#company h3
{
	border-top-left-radius: 0;
    border-top-right-radius: 0;
	border-width:0 0 1px 0;
}
#category
{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right:none;
}
#category h3
{
	border-top-right-radius: 0;
	border-width:0 0 1px 0;
}
#location
{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left:none;
}
#location h3
{
	border-top-left-radius: 0;
	border-width:0 0 1px 0;
}
.container form {
	background-color:#eeeeee;
}
.container input {
	width:250px;
	margin:5px;
	
}
.create {
	float:right;
}
.lists > div .activated {
	background: #5f83b9;
	color:#fff;
	text-shadow: 0px 1px 1px #234386;
	outline:none;
	border:none;
}
.lists > div .activated a
{
	color:#FFF;
}

/* Contact Specific - Grid Styling */
#contacts {
    left: 8px;
    right: 8px;
	width:100%:
}
.can_ui_data_order .ui-corner-left
{
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	border-left:none;
}
.can_ui_data_order .ui-corner-right
{
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	border-right:none;
}